<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chted.fruitquoridor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AcceuilActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".OnlineGameActivity" />
        <activity android:name=".FriendsGameActivity" />
        <activity android:name=".AIGameActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MyFriendsActivity" />
        <activity android:name=".MyGamesActivity"></activity>
    </application>

</manifest>